/* Night Owl theme */
:root [data-theme="night-owl"] {
  --color-bg-primary: #011627;
  --color-bg-secondary: #1d3b53;
  --color-fg-primary: #d6deeb;

  --color-hl: #ef5350;
  
  --color-die-1: #ef5350;
  --color-die-2: #22da6e;
  --color-die-3: #c5e478;
  --color-die-4: #82aaff;
  --color-die-5: #c792ea;
  --color-die-6: #21c7a8;
}

/* custom light theme based on Night Owl*/
:root [data-theme="night-owl-light"] {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #cfcfcf;
  --color-fg-primary: #403f53;

  --color-hl: #ef5350;
  
  --color-die-1: #ef5350;
  --color-die-2: #22da6e;
  --color-die-3: #c5e478;
  --color-die-4: #82aaff;
  --color-die-5: #c792ea;
  --color-die-6: #21c7a8;
}